<highlight-widget api-key="64402e8ec4dad4bb24717cc9"></highlight-widget>
<script>
    const widget = document.querySelector("highlight-widget");
    widget.config = {
        puzzleBranding: true,
        hasMarkAll: false,
        hasMarkHyperlink: true,
        callToAction: {
            text: "Learn more",
            link: "https://nvidia.github.io/spark-rapids/",
        },
        selectors: ["body"],
    };
    widget.theme = {
        mode: "light",
        marker: {
            color: "#E7FF57",
            type: "highlight",
        },
        modal: {
            backgroundColor: "#FFF",
            primaryColor: "#000",
            secondaryColor: "#74747F",
        },
        callToAction: {
            color: "#fff",
            backgroundColor: "#000",
        },
    };
</script>